<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      <p>Wil u graag de <strong>ontwerpbesluit</strong> invoegen?</p>
    </div>
  </div>
</div>

<div class="modal-dialog__footer">
  <WuButtonGroup>
    <WuButton 
      @label="Invoeg ontwerpbesluit"
      @isNarrow={{true}}
      @onClick={{this.togglePopup}}
    />
  </WuButtonGroup>
</div>

{{#if this.popup}}
  <WuModal
    @title="Voeg een eigen ontwerpbesluit in"
    @dialog-class="modal-dialog--wide modal-dialog--sectioned"
    @onClose={{this.togglePopup}}
    as |m|
  >
    {{#m.content isSectioned=false}}
      <div class="modal-dialog__header">
        <div class="grid">
          <div class="col--6-12">
            <div class="u-spacer--tb--tiny">
              <div class="input-field-icon-container--block input-field-icon-container--left">
                <TextSearch @filter={{this.filter.title}} @placeholder="Zoek titel ontwerpbesluit" />
                <i class="input-field__icon vi-magnifier vi ember-view"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <DataTable @content={{this.draftDecisions}} @noDataMessage="Geen documenten" @page={{this.filter.page}} @size={{this.filter.size}} @sort={{this.filter.sort}} @class="container-flex--contain" as |table|>
        <table.content as |c|>
          <c.header>
            <ThSortable @field="currentVersion.title" @currentSorting={{this.filter.sort}} @label="Titel ontwerpbesluit" @class="data-table__header-title" />
            <ThSortable @field="currentVersion.createdOn" @currentSorting={{this.filter.sort}} @label="Aangemaakt" @class="data-table__header-title" />
            <ThSortable @field="currentVersion.updatedOn" @currentSorting={{this.filter.sort}} @label="Aangepast" @class="data-table__header-title" />
            <ThSortable @field="status" @currentSorting={{this.filter.sort}} @label="Status" @class="data-table__header-title u-align-right" />
          </c.header>
          <c.body as |container|>
            {{#with container.currentVersion as |document|}}
              <td>{{document.title}}</td>
              <td>
                {{moment-calendar document.createdOn}}
                <br>
                <p class="smaller text-fade">{{moment-from-now this.document.currentVersion.updatedOn}}</p>
              </td>
              <td>
                {{moment-calendar document.updatedOn}}
                <br>
                <p class="smaller text-fade">{{moment-from-now this.document.currentVersion.updatedOn}}</p>
              </td>
              <td class="u-align-right">
                <span class="button button--alt button--nardocument" role="button" {{on "click" (fn this.insert document)}}>Voeg in</span>
              </td>
            {{/with}}
          </c.body>
        </table.content>
      </DataTable>
    {{/m.content}}
  </WuModal>
{{/if}}